.App {
  text-align: center;
}

.App-header {
  /* min-heightをいじると黒い死角が範囲外になる */
  min-height: 10000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
