.App {
  text-align: center;
}

.App-header {
  /* min-heightをいじると黒い死角が範囲外になる */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

ons-navigator > div {
  background-color: transparent;
}

/* PC版対応 */
@media screen and (min-width: 960px) {
  .frame {
    /* スマホのフレーム画像を上下中央に表示 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 450px;
    height: 765px;
  }
  .frame-img {
    position: relative;
    margin-top: 20px;
    margin-left: -1.3px;
  }
  /* コンテンツをスマホのフレーム内に収まるように上下中央に表示 */
  .main {
    width: 376px;
    height: 620px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
  }
}
