.App-header {
  /* min-heightをいじると黒い死角が範囲外になる */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

/* onsen.cssを読み込むとtoolbarに position:absoruteが設定される対策 */
.Under-toolbar {
  margin-top: 50px;
  padding: 5px;
}

.row-col-m2 > ons-row > ons-col {
  margin: 2px;
}

/* 高さを設定して文字を上下左右中央揃え */
.row-col-m2 > ons-row > ons-col > ons-button {
  height: 120px;
  display: table;
  text-align: center;
}

.row-col-m2 > ons-row > ons-col > ons-button > div {
  display: table-cell;
  vertical-align: middle;
}

/* PC版対応 */
@media screen and (min-width: 960px) {
  .frame {
    /* スマホのフレーム画像を上下中央に表示 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 450px;
    height: 765px;
  }
  .frame-img {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    width: 410px;
    height: 680px;
    background-color: gray;
    border-radius: 15px;
  }

  /* コンテンツをスマホのフレーム内に収まるように上下中央に表示 */
  .main {
    width: 376px;
    height: 620px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    border: solid 3px white;
  }
}
